name: Build Wheel

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ]

    steps:
      - uses: actions/checkout@v5

      - name: Install deps
        run: |
          apt install -y \
              cuda-nvcc-12-3 \
              libcufft-dev-12-3 \
              libcurand-dev-12-3

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        # env:
        #   CIBW_SOME_OPTION: value
        #   ...
        # with:
        #   package-dir: .
        #   output-dir: wheelhouse
        #   config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
